@font-face{
	font-family: 'Fact-ExpandedBlack';
	font-style: normal;
	src: url('./fonts/Fact-ExpandedBlack.ttf');
}

*{
	font-family: 'Fact-ExpandedBlack';
}

main{
	height: 100vh;
	max-height: 100vh;
	background-color: rgba(0, 0, 0, 0);
}

/*
input{
	outline-color: none;
}*/

#attention-text{
	font-size: 11px;
}
